{% extends 'header.html' %}
{% block container %}
<link href="{{ url_for('static',filename='css/about.css')}}" rel="stylesheet" />
<div id="about">
    <div id="left"><img src="{{ url_for('static',filename='images/project.png')}}" style="width:200px; height:100px;"/></div>
    <div id="right"><h3>ABOUT PROJECT</h3></div>
</div>
<div>
    <p>Pitchfork is a music-centric online magazine.
    It was started in 1995 and grew out of independent music reviewing into a general publication format,
    but is still famed for its variety music reviews. I scraped over 18,000 Pitchfork reviews
    (going back to January 1999). Initially, this was done to satisfy a few of my own curiosities,
    but I bet Kagglers can come up with some really interesting analyses!</p>

    <hr>
    <p>
    Dataset
    The dataset consists of 18,393 Pitchfork Reviews from Jan 5, 1999 to Jan 8, 2017.
    It is contained in a sqlite database with the following tables:
    *    artists - list of all artists reviewed
    *    content - list of content of the reviews
    *    genres - list of all genres reviewed
    *    labels - list of publishing labels of the albums and songs reviewed
    *    reviews - list of reviews
    *    years - list of years the reviews were published
    </p>
    <hr>
    <p>
    Our goal in this project was to find out different apects of
    the data on music reviews such as how over the year's the choice of music has changed,
    does the day of week decide the score for the album etc. We have tried to represent all these
    things using various type of graphs. We analyzed the sentiment of the comments given by
    the reviewer for a particular album and generate a score which we check by the actual score given by the reviewer.
    To present all this we have made a web app using flask framework in python which displays all the things we
        have analyzed from the Pitchfork Dataset.
    </p>
</div>
{% endblock %}