{% extends 'header.html' %}
{% block heading %}
<span>LINEAR SVC</span>
{% endblock %}
{% block container %}
<link href="{{ url_for('static',filename='css/model.css')}}" rel="stylesheet" />
<div id="wrapper">
<div class="box1">
<p>
In machine learning, support vector machines (SVMs, also support vector networks) are supervised learning
models with associated learning algorithms that analyze data used for classification and regression analysis.
A Support Vector Machine (SVM) is a discriminative classifier formally defined by a separating hyperplane.
In other words, given labeled training data (supervised learning), the algorithm outputs an optimal
hyperplane which categorizes new examples.</p>
<p>
An SVM model is a representation of the examples as points in space, mapped so that the examples of the
separate categories are divided by a clear gap that is as wide as possible.
In addition to performing linear classification, SVMs can efficiently perform a non-linear classification,
implicitly mapping their inputs into high-dimensional feature spaces.
</p>
<p>
What does SVM do?

Given a set of training examples, each marked as belonging to one or the other of two
categories, an SVM training algorithm builds a model that assigns new examples to one category
or the other, making it a non-probabilistic binary linear classifier.</p>
<div>
    <img src="{{ url_for('static', filename='images/logistic_regression.svg') }}">
</div>
<div>
    <p>Accuracy = {{ score }}</p>
</div>
</div>
<div class="box2"><img src="{{ graph }}" /></div>
</div>
{% endblock %}
