{% extends 'header.html' %}
{% block heading %}
<span>ALBUM DETAILS : {{name}}</span>
{% endblock %}
{% block container %}
<link href="{{ url_for('static',filename='css/table.css')}}" rel="stylesheet" />
<div id="wrapper">
<div class="box1">
    {% for album in albums %}
    <div class="childbox">
        <h5>{{ album['title'] }}</h5>
        <div id="wrapper1">
        <div id="left">
        <p> Score :{{ album['score'] }} Year : {{ album['year'] }}</p>
        <span> Genre :{% for genre in album['genre'] %}
            {% if not loop.last %}
                {{ genre }},
            {% else %}
                {{ genre }}
            {% endif %}
            {% endfor %}</span>
        </div>
        <div id="right"><button id="{{ album['reviewid'] }}" class="button">Read Review</button></div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="box2"><img src="{{ graph }}" /></div>
</div>
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p id="reviewContent"></p>
    </div>
</div>
<button id="myBtn" title="Go Back"><a href="/">Back</a></button>
<script type="text/javascript" src="{{ url_for('static',filename='js/modal_content.js')}}"></script>
{% endblock %}