{% extends 'header.html' %}

{% block body %}
    <style>
        td {
            padding: 10px;
        }    
    </style>

    <table>
        {% for artist in artists %}
        <tr>
            <td>{{ artist }}</td>
            <td>
                <form action="{{ url_for('artist_stats') }}", method="post">
                    <input type="hidden" value="{{ artist }}" name="name">
                    <input type="submit" value="Explore">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

    <script type="text/javascript">
        $(document).ready(function() {
            $(".buttons").click(function(event) {
                $.ajax({
                    type: "POST",
                    url: "{{ url_for('artist_stats') }}",
                    contentType: "application/json",
                    dataType: "json",
                    data: JSON.stringify({
                        name: event.target.id
                    }),
                    success: function(response) {
                        console.log(response);
                    }
                });
            });
        });
    </script>

{% endblock %}